@model MovieDatabase.Models.Movie

@{
    ViewData["Title"] = "MovieScene";
}

<head>
    <link rel="stylesheet" href="~/css/movie-scene.css" />
</head>
<body>
    @{
        Movie movie = Model;
        var path = Model.posterImagePath;
        var users = ViewBag.usersVB;
        var currentUser = ViewBag.currentUserVB;
        var subcomments = ViewBag.subcommentsVB;

        bool is_admin = false;

        if(currentUser != null)
        {
            is_admin = true;
        }

    }
    <div class="grid-container-main-page">
        <div class="main-page-movie">
            <div class="main-page-movie-poster">
                <img class="main-poster" src="~/images/@path" alt="@Model.title Poster" />
            </div>
            <div class="stars">
                @{
                    decimal r = 0;
                    if (movie.rate != null)
                    {
                        r = Convert.ToDecimal(movie.rate);
                    }

                    <b>@Math.Round(r, 1)</b>

                    for (int j = 1; j <= movie.rate; j++)
                    {
                        <span class="star" data-value="@j">&#9733;</span>
                    }
                }
            </div>
            <div class="main-page-movie-info">
                <div class="main-page-movie-title">
                    <h3>@Html.DisplayFor(model => model.title)</h3>
                    @if (is_admin)
                    {
                            <a href="@Url.Action("Edit", "Movies", new { id = movie.id })">Edit</a>
                    }
                    <h2>@Html.DisplayFor(model => model.description)</h2>
                </div>
                <div class="genre-info">
                    <h4>Genres:</h4>
                    @foreach (var g in ViewBag.genresVB)
                    {
                        <h5>@Html.Raw(g.tag)</h5>
                    }
                </div>
                <div class="actor-info">
                    <h4>Actors:</h4>
                    @foreach (var a in ViewBag.actorsVB)
                    {
                        <h5>@Html.Raw(a.nameSurnameLabel)</h5>
                    }
                </div>
                <div class="director-info">
                    <h4>Director:</h4>
                    @foreach (var d in ViewBag.directorVB)
                    {
                        <h5>@Html.Raw(d.nameSurnameLabel)</h5>
                    }
                </div>
                <div class="trailer-info">
                    <h4>Trailer:</h4>
                    <iframe src="@Model.trailer_link" allowfullscreen></iframe>
                </div>
            </div>

            @{
                string actionFavorites = "AddToFavorites";
                string actionWatchlist = "AddToWatchlist";
                bool alreadyRated = false;
                Rating currentUserRating = new Rating();
                if (currentUser == null)
                {
                    actionFavorites = "Nope";
                    actionWatchlist = "Nope";
                }
                else
                {
                    @foreach (Rating rating in ViewBag.reviewsVB)
                    {
                        if(rating.user_id == currentUser.Id)
                        {
                            alreadyRated = true;
                            currentUserRating = rating;
                        }
                    }
                }
            }

            <form asp-action="@actionFavorites">
                <div class="form-group">
                    <input type="submit" value="Add to favorites" class="btn btn-primary" />
                </div>
            </form>
            <form asp-action="@actionWatchlist">
                <div class="form-group">
                    <input type="submit" value="Add to watchilist" class="btn btn-primary" />
                </div>
            </form>

            <div class="form-group">
                @if (alreadyRated)
                {
                    <a href="@Url.Action("Edit", "Ratings", new { id = currentUserRating.id, movie_id = movie.id })">Rate movie (Edit)</a>
                }
                else
                {
                    <a href="@Url.Action("Create", "Ratings", new { movie_id = movie.id })">Rate movie</a>
                }

            </div>


            <div class="review-section" id="reviews">
                <h3>Reviews</h3>
                @foreach (var review in ViewBag.reviewsVB)
                {
                    if (String.IsNullOrEmpty(review.review))
                    {
                        break;
                    }

                    List<User> usersReviewing = [];
                    foreach (User u in users)
                    {
                        if (review.user_id == u.Id)
                        {
                            usersReviewing.Add(u);
                            break;
                        }
                    }
                    <div class="review">
                        <div class="review-rating @((review.rate <= 5) ? "red" : "green")">
                            @review.rate
                        </div>
                        <div class="review-header">
                            <b>@usersReviewing[0].UserName</b>
                        </div>
                        <div class="review-body">
                            <p>@review.review</p>
                        </div>
                        <div class="review-footer">
                            @if (currentUser != null)
                            {
                                if (review.user_id == currentUser.Id)
                                {
                                    <a href="@Url.Action("Edit", "Ratings", new { id = review.id, movie_id = movie.id })">Edit</a>
                                    <a href="@Url.Action("Delete", "Ratings", new { id = review.id, movie_id = movie.id })">Delete</a>
                                }
                            }
                        </div>
                    </div>
                }
            </div>

            @{
                string subcommentActionStr = "Create";
                string commentActionStr = "Create";
                if (currentUser == null)
                {
                    subcommentActionStr = "Nope";
                    commentActionStr = "Nope";
                }
            }

            <div class="comments-section" id="comments">
                <h3>Comments</h3>
                @foreach (Comment comment in ViewBag.commentsVB)
                {
                    if (comment.is_blocked)
                    {
                        break;
                    }

                    List<User> usersCommenting = [];
                    foreach (User u in users)
                    {
                        if (comment.user_id == u.Id)
                        {
                            usersCommenting.Add(u);
                            break;
                        }
                    }
                    <div class="comment">
                        <div class="comment-header">
                            <b>@usersCommenting[0].UserName</b>
                        </div>
                        <div class="comment-body">
                            <p>@comment.content</p>
                        </div>
                        <div class="comment-footer">

                            @if (currentUser != null)
                            {
                                if (comment.user_id == currentUser.Id)
                                {
                                    <a href="@Url.Action("Edit", "Comments", new { id = comment.id, movie_id = movie.id })">Edit</a>
                                    <a href="@Url.Action("Delete", "Comments", new { id = comment.id, movie_id = movie.id })">Delete</a>
                                }
                                if (currentUser.is_admin)
                                {
                                    <a href="@Url.Action("BlockComment", "Comments", new { com_id = comment.id, movie_id = movie.id  })">Block</a>
                                }
                            }
                            <a href="@Url.Action(@subcommentActionStr, "Subcomments", new { com_id = comment.id, movie_id = movie.id })">Reply</a>

                        </div>
                        @foreach (var subcomment in subcomments)
                        {
                            if (subcomment.comment_id == comment.id)
                            {
                                User userSubcommenting = new User();
                                foreach (User u in users)
                                {
                                    if (subcomment.user_id == u.Id)
                                    {
                                        userSubcommenting = u;
                                        break;
                                    }
                                }

                                <div class="subcomment">
                                    <div class="subcomment-header">
                                        <b>@userSubcommenting.UserName</b>
                                    </div>
                                    <div class="subcomment-body">
                                        <p>@subcomment.content</p>
                                    </div>
                                    <div class="subcomment-footer">

                                        @if (currentUser != null)
                                        {
                                            if (subcomment.user_id == currentUser.Id)
                                            {
                                                <a href="@Url.Action("Edit", "Subcomments", new { id = subcomment.id, com_id = comment.id, movie_id = movie.id })">Edit</a>
                                                <a href="@Url.Action("Delete", "Subcomments", new { id = subcomment.id, com_id = comment.id, movie_id = movie.id})">Delete</a>
                                            }
                                            if (currentUser.is_admin)
                                            {
                                                <a href="@Url.Action("BlockSubcomment", "Subomments", new { id = subcomment.id, com_id = comment.id, movie_id = movie.id  })">Block</a>
                                            }
                                        }

                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
                @{
                    Comment comment1 = new Comment();
                }

                <div class="form-group">
                    <a href="@Url.Action(commentActionStr, "Comments", new { movie_id = movie.id })">
                        <button>Write a comment</button>
                    </a>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</body>
