@model MovieDatabase.Models.Movie

@{
    ViewData["Title"] = "MovieScene";
}

<head>
    <link rel="stylesheet" href="~/css/movie-scene.css" />
</head>
<body>
    @{
        var path = Model.posterImagePath;
        var users = ViewBag.usersVB;
        var currentUser = ViewBag.currentUserVB;
        var subcomments = ViewBag.subcommentsVB;
    }
    <div class="grid-container-main-page">
        <div class="main-page-movie">
            <div class="main-page-movie-poster">
                <img class="main-poster" src="~/images/@path" alt="@Model.title Poster" />
            </div>
            <div class="stars">
                @{
                    Movie movie = Model;
                }
                    @for (int j = 1; j <= movie.rate; j++)
                    {
                        <span class="star" data-value="@j">&#9733;</span>
                    }
                </div>
            <div class="main-page-movie-info">
                <div class="main-page-movie-title">
                    <h3>@Html.DisplayFor(model => model.title)</h3>
                    <h2>@Html.DisplayFor(model => model.description)</h2>
                </div>
                <div class="actor-info">
                    <h4>Actors:</h4>
                    @foreach (var a in ViewBag.actorsVB)
                    {
                        <h5>@Html.Raw(a.nameSurnameLabel)</h5>
                    }
                </div>
                <div class="director-info">
                    <h4>Director:</h4>
                    @foreach (var d in ViewBag.directorVB)
                    {
                        <h5>@Html.Raw(d.nameSurnameLabel)</h5>
                    }
                </div>
                <div class="trailer-info">
                    <h4>Trailer:</h4>
                    <iframe src="@Model.trailer_link" allowfullscreen></iframe>
                </div>
            </div>
            @{
                string subComRef = "/MovieScene/CreateSubcomment";
                string comRefStr = "/MovieScene/CreateComment";
                if (currentUser == null)
                {
                    subComRef = "/MovieScene/Nope";
                    comRefStr = "/MovieScene/Nope";
                }
            }

            <div class="comments-section" id="comments">
                <h3>Comments</h3>
                @foreach (var comment in ViewBag.commentsVB)
                {
                    List<User> usersCommenting = [];
                    foreach (User u in users)
                    {
                        if (comment.user_id == u.Id)
                        {
                            usersCommenting.Add(u);
                            break;
                        }
                    }

                    {

                        <div class="comment">
                            <b>@usersCommenting[0]</b>
                            <p><small>@comment.content</small><br>
                                <a href="@Url.Action("CreateSubcomment", "MovieScene", new { com_id = comment.id })">Reply</a>
                            </p>
                            @foreach(var subcomment in subcomments)
                            {
                                if(subcomment.comment_id == comment.id)
                                {
                                    User userSubcommenting = new User();
                                    foreach (User u in users)
                                    {
                                        if (subcomment.user_id == u.Id)
                                        {
                                            userSubcommenting = u;
                                            break;
                                        }
                                    }

                                    <p style="margin-left: 25px;"><b>@userSubcommenting.UserName</b><br><small>@subcomment.content</small></p>
                                }
                            }
                        </div>
                    }                   
                }
                @{
                    Comment comment1 = new Comment();
                }

                <div class="form-group">
                    <a href="@comRefStr">
                        <button>Write a comment</button>
                    </a>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</body>
