@model IEnumerable<MovieDatabase.Models.Director>

@{
    ViewData["Title"] = "Index";
}

<h1>Directors</h1>

@if (ViewBag.isAdminVB)
{
    <p>
        <a asp-action="Create" style="text-decoration: none">
            <button class="btn btn-secondary btn-sm">Create New</button>
        </a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Raw("Name")
            </th>
            <th>
                @Html.Raw("Surname")
            </th>
            <th>
                @Html.Raw("Birthday")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_birth)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id" style="text-decoration: none">
                    <button class="btn btn-secondary btn-sm">Details</button>
                </a>
                @if (ViewBag.isAdminVB)
                {
                    <a asp-action="Edit" asp-route-id="@item.id" style="text-decoration: none">
                        <button class="btn btn-secondary btn-sm">Edit</button>
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.id" style="text-decoration: none">
                        <button class="btn btn-secondary btn-sm">Delete</button>
                    </a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
