@model MovieDatabase.Models.Actor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_of_birth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("movies")
        </dt>
        <dd class="col-sm-10">
            @foreach (Movie m in ViewBag.moviesVB)
            {
                @Html.Raw(m.title + ", ")
            }
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.isAdminVB)
    {
        <a asp-action="Edit" asp-route-id="@Model?.id" style="text-decoration: none">
            <button class="btn btn-secondary">Edit</button>
        </a>
    }
    <a asp-action="Index" style="text-decoration: none">
        <button class="btn btn-secondary">Actors list</button>
    </a>
</div>
