@model MovieDatabase.Models.User

@{
    ViewData["Title"] = "RatingsAndReviews";
}

<head>
    <link rel="stylesheet" href="~/css/RatingsAndReviewsStyleSheet.css" />
</head>

<body>
    <div class="ratings-title">My ratings and reviews</div>
    <div class="rating-container">
        @foreach (Rating rating in ViewBag.ratingsVB)
        {
            List<Movie> movies = ViewBag.moviesVB;
            Movie movie = movies.FirstOrDefault(m => m.id == rating.movie_id);
            var path = movie.posterImagePath;
            <div class="rating-item">
                <div class="rating-date">Reviewed on: @rating.time</div>
                <div class="stars">
                    @for (int j = 1; j <= rating.rate; j++)
                    {
                        <span class="star" data-value="@j">&#9733;</span>
                    }
                </div>
                <div class="rating-poster">
                    <img src="~/images/@path" alt="Placeholder Poster" />
                </div>
                <div class="rating-title">@movie.title</div>
                <div class="rating-year">@movie.year</div>
                <div class="rating-review">@rating.review</div>
            </div>
        }
    </div>
</body>