@model IEnumerable<MovieDatabase.Models.Movie>

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/HomePageSheet.css?t=<%= DateTime.Now.Ticks %>" />
</head>
<body>
    <div class="grid-container-main-page">
        @foreach (var item in Model)
        {
            <div class="main-page-movie">
                <div class="main-page-movie-poster">
                    <img class="main-poster" src="~/images/@item.posterImagePath" alt="@item.title Poster" />
                </div>
                <div class="main-page-movie-title">
                    @if (item.title == "La La Land")
                    {
                        <a href="@Url.Action("LaLaLand", "MovieScene")" style="text-decoration:none; color:white;">@item.title</a>
                    }
                    else if (item.title == "Oppenheimer")
                    {
                        <a href="@Url.Action("Oppenheimer", "MovieScene")" style="text-decoration:none; color:white;">@item.title</a>
                    }
                    else if (item.title == "Blade Runner 2049")
                    {
                        <a href="@Url.Action("BladeRunner2049", "MovieScene")" style="text-decoration:none; color:white;">@item.title</a>
                    }
                </div>
                <div class="main-page-star">
                    &#9733;
                </div>
                <div class="main-page-movie-rating">
                    10
                </div>
            </div>
        }
    </div>
</body>