@model IEnumerable<MovieDatabase.Models.Movie>

@{
    ViewData["Title"] = "Home Page";

}

<head>
    <link rel="stylesheet" href="~/css/HomePageSheet.css?t=<%= DateTime.Now.Ticks %>" />
    <script>
        function redirectToComments(event, movieId) 
        {
            event.preventDefault();
            window.location.href = '/MovieScene/Index/' + movieId + '#comments';
        }
    </script>
</head>
<body>
    <div class="grid-container-main-page">

        @* <div class="form-group">
            <label for="movieSearch">Movies</label>
            <input type="text" id="movieSearch" class="form-control" placeholder="Type to search movies..." />
            <ul id="movieResults" class="list-group"></ul>
        </div> *@

        @foreach (var item in Model)
        {
            <a href="@Url.Action("Index", "MovieScene", new { id = item.id })">
                <div class="main-page-movie">
                    <div class="main-page-movie-poster">
                        <img class="main-poster" src="~/images/@item.posterImagePath" alt="@item.title Poster" />
                    </div>
                    <div class="main-page-movie-title">
                        @Html.DisplayFor(modelItem => item.title)
                    </div>
                    <div>
                        @foreach (Genre genre in item.genres)
                        {
                            <h4 style="color:DarkGray;">@genre.tag</h4>
                        }
                    </div>
                    <div class="main-page-star" onclick="redirectToComments(event, '@item.id')">
                        &#9733;
                    </div>
                    @{
                        decimal r = 0;
                        if (item.rate != null)
                        {
                            r = Convert.ToDecimal(item.rate);
                        }
                    }
                    <div class="main-page-movie-rating">
                        @Math.Round(r, 1)
                    </div>
                </div>
            </a>
        }
    </div>
</body>



@* <script>
    $(document).ready(function () {

        $('#movieSearch').on('keyup', function () {
            let query = $(this).val();
            if (query.length >= 2) {
                $.ajax
                    ({
                        url: '@Url.Action("SearchMovies", "Home")',
                        data: { searchString: query },
                        success: function (data) {
                            $('#movieResults').empty();
                            data.forEach(movie => {
                                $('#movieResults').append(`<li class="list-group-item" data-id="${movie.id}">${movie.title}</li>`);
                            });
                        }
                    });
            }
            else {
                $('#movieResults').empty();
            }
        });

    });
</script> *@