@model MovieDatabase.Models.User
@{
    ViewData["Title"] = "User Profile";

}

<head>
    <link rel="stylesheet" href="~/css/ProfileStyleSheet.css" />
</head>

@{
    int watchlistNo = ViewBag.watchlistNoVB;
    int ratedNo = ViewBag.ratedNoVB;
    int favNo = ViewBag.favNoVB;

    string avatar_path = ViewBag.avatarPathVB;
}

<div class="profile-container">
    <form asp-action="Index" enctype="multipart/form-data">
    <div class="profile-photo">
        <div class="photo-placeholder">
            <input type="file" id="profile-image-input" name="avatarImagePath" accept="images/*" style="display: none;">
            <label for="profile-image-input">
                <i class="fa-solid fa-pen" style="color: white;"></i>
            </label>
                <img id="profile-image-preview" src="#" alt="Preview" style="display: none;">
                <img class="profile-image" src="~/images/@avatar_path" alt="No picture selected" />
        </div>
    </div>
    <input type="submit" value="Save Profile Picture" class="btn btn-primary" />
    </form>
    <div class="profile-info">
        <div class="name-placeholder">@User.Identity.Name</div>
        <div class="statistics-header">Statistics</div>
        <div class="user-stats">
            <div class="stats-item">
                <span class="stats-text">Watchlists: <span class="stats-number">@watchlistNo</span></span>
            </div>
            <div class="stats-item">
                <span class="stats-text">Rated: <span class="stats-number">@ratedNo</span></span>
            </div>
            <div class="stats-item">
                <span class="stats-text">Favorites: <span class="stats-number">@favNo</span></span>
            </div>
        </div>
    </div>
    <div class="buttons-header">My movies</div>
    <div class="profile-buttons">
        <button class="profile-button" onclick="window.location.href='@Url.Action("Index", "Watchlist")'">Want to watch</button>
        <button class="profile-button" onclick="window.location.href='@Url.Action("Index", "RatingsAndReviews")'">Ratings and reviews</button>
        <button class="profile-button" onclick="window.location.href='@Url.Action("Index", "Favorites")'">Favorite films</button>
    </div>
    <div class="buttons-header">Administrator options</div>
    <div class="profile-buttons">
        <button class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Movies")'">Movies</button>
        <button class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Actors")'">Actors</button>
        <button class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Directors")'">Directors</button>
        <button class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Genres")'">Genres</button>
    </div>
    <div class="profile-buttons">
        <button class="btn btn-secondary" onclick="window.location.href='@Url.Action("Blocked", "Comments")'">Blocked comments</button>
        <button class="btn btn-secondary" onclick="window.location.href='@Url.Action("Blocked", "Subcomments")'">Blocked replies</button>
    </div>
    <br>
    
</div>

<script>
    const profileImageInput = document.getElementById('profile-image-input');
    const profileImagePreview = document.getElementById('profile-image-preview');
    const chooseProfileImageLabel = document.querySelector('label[for="profile-image-input"]');

    profileImageInput.addEventListener('change', function () {
        if (profileImageInput.files && profileImageInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                profileImagePreview.src = e.target.result;
                profileImagePreview.style.display = 'block';
            };

            reader.readAsDataURL(profileImageInput.files[0]);
        }
    });

</script>
