@model MovieDatabase.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.Raw("Title")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Year")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Description")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Trailer link")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.trailer_link)
        </dd>

        <dt class="col-sm-2">
            @Html.Raw("Genres")
        </dt>
        <dd class="col-sm-10">
            @foreach (Genre g in ViewBag.genresVB)
            {
                @Html.Raw(g.tag + ", ")
            }
        </dd>

        <dt class="col-sm-2">
            @Html.Raw("Director")
        </dt>
        <dd class="col-sm-10">
            @foreach (Director d in ViewBag.directorVB)
            {
                @Html.Raw(d.nameSurnameLabel)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Actors")
        </dt>
        <dd class="col-sm-10">
            @foreach (Actor a in ViewBag.actorsVB)
            {
                @Html.Raw(a.nameSurnameLabel + ", ")
            }
        </dd>

        <dd class="col-sm-10">

        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.isAdminVB)
    {
        <a asp-action="Edit" asp-route-id="@Model?.id" style="text-decoration: none">
            <button class="btn btn-secondary">Edit</button>
        </a>
    }
    <a asp-action="Index" style="text-decoration: none">
        <button class="btn btn-secondary">Movies list</button>
    </a>
</div>
